/* ?--------------- MENU/HEADER SECTION -------------------- */

.light {
  background-color: #d8dbe0 !important;
  color: black;
}

.light-neumorphism {
  color: black;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 12px 12px 16px #bebebe, -8px -8px 16px #ffffff;
}
.light-neumorphism-form {
  color: black;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff;
}
