/* !---- BURGER MENU SECTION max-width: 599px ---- */

@media (max-width: 599px) {
  header {
    position: fixed;
  }

  header nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
  }

  header nav li {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 23px;
  }
}

/* !---- DISPLAY BLOCK FIX mIN-width: 600px ----- */

@media (min-width: 600px) {
  header nav {
    display: block !important;
    background-color: transparent !important;
  }
  nav ul {
    background-color: transparent;
  }

  nav li {
    background-color: transparent;
  }
}

/* !---- TABLET VIEW min-width: 768px ----------- */

@media (min-width: 768px) {
  .intro_heading_div {
    width: 60vw;
  }

  .swiper {
    width: 60vw;
  }

  .about__section__wrapper2 {
    border-radius: 22px;
    background: #db2b39;
    box-shadow: 12px 12px 16px #76171f, -8px -8px 16px #ff3f53;
    width: 60vw;
    margin: 0 auto;
  }

  .about__section__wrapper {
    /* width: 60vw; */
    margin: 0 auto;
  }

  .gallery_wrapper {
    width: 60vw;
  }

  .swiper-slide {
    border-radius: 10px;
    background: #151515;
    box-shadow: 9px 9px 18px #080808, -9px -9px 18px #222222;
  }
  .section__gallery img {
    height: 60vh;
    width: 100vw;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 20px;
  }

  form input {
    width: 20rem;
  }

  .div__form {
    margin: 0 auto;
    justify-content: center;
    width: 60vw;
    padding: 2rem;
    border-radius: 22px;
    background: #db2b39;
    box-shadow: 12px 12px 16px #76171f, -16px -16px 16px #ff3f53;
  }
}

/* !---- MONITOR VIEW min-width: 1024px ----------- */

@media (min-width: 1024px) {
  .about__section__wrapper {
    width: 30rem;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    flex-basis: 20rem;
    flex-shrink: 1;
    flex-grow: 1;
    /* margin: 0 auto;
    justify-content: center; */
  }

  .section__gallery img {
    height: 70vh;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 20px;
  }
}

/* !---- MONITOR VIEW min-width: 1440px ----------- */

@media (min-width: 1440px) {
  .about__section__wrapper {
    width: 40rem;
  }

  .swiper-slide {
    flex-basis: 30rem;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .section__gallery img {
    height: 70vh;
    width: 100vw;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 20px;
    margin: 0;
  }
}

/* !---- MONITOR VIEW min-width: 2560px ----------- */

@media (min-width: 2560px) {
  .about__section__wrapper {
    width: 40rem;
  }

  .swiper-slide {
    flex-basis: 40rem;
    flex-shrink: 1;
    flex-grow: 1;
  }
}
