/* !---- BURGER MENU SECTION max-width: 599px ---- */

@media (max-width: 599px) {
  header {
    position: fixed;
  }

  header nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
  }

  header nav li {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 23px;
  }
}

/* !---- DISPLAY BLOCK FIX mIN-width: 600px ----- */

@media (min-width: 600px) {
  header nav {
    display: block !important;
    background-color: transparent !important;
  }
  nav ul {
    background-color: transparent;
  }

  nav li {
    background-color: transparent;
    margin-right: 20px;
  }
}

/* !---- TABLET VIEW min-width: 768px ----------- */

@media (min-width: 768px) {
  .intro_heading_div {
    width: 60vw;
  }

  nav li {
    margin-right: 20px;
  }

  .swiper {
    width: 60vw;
  }

  .about__section__wrapper2 {
    margin: 0 auto;
  }

  .about__section__wrapper {
    width: 60vw;
    margin: 0 auto;
  }

  .gallery_wrapper {
    width: 60vw;
  }

  .swiper-slide {
    border-radius: 10px;
    background: #151515;
    box-shadow: 9px 9px 18px #080808, -9px -9px 18px #222222;
  }

  .section__gallery {
    position: relative;
    background-color: rgb(21, 21, 21);
    padding: 2rem 0rem;
  }

  .swiper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .section__gallery img {
    height: 60vh;
    width: 100vw;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 20px;
  }

  form input {
    width: 20rem;
  }

  input::placeholder {
    text-align: center;
  }
  .div__form {
    width: 60vw;
    margin: 0 auto;
    justify-content: center;
    min-width: 30vw;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 5px;
  }
}

/* !---- MONITOR VIEW min-width: 1024px ----------- */

@media (min-width: 1024px) {
  .about__section__wrapper {
    width: 30rem;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    flex-basis: 20rem;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .section__gallery img {
    height: 70vh;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 20px;
  }
}

/* !---- MONITOR VIEW min-width: 1440px ----------- */

@media (min-width: 1440px) {
  header {
    padding: 0rem 20rem;
  }

  .about__section__wrapper {
    width: 40rem;
  }

  .swiper-slide {
    flex-basis: 30rem;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .section__gallery img {
    height: 70vh;
    width: 100vw;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 20px;
    margin: 0;
  }

  .div__form {
    width: 30vw;
  }
}

/* !---- MONITOR VIEW min-width: 2560px ----------- */

@media (min-width: 2560px) {
  header {
    padding: 0rem 27rem;
  }

  .about__section__wrapper {
    width: 40rem;
  }

  .swiper-slide {
    flex-basis: 40rem;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .div__form {
    height: 50vh;
    width: 30vw;
    gap: 2rem;
  }

  input::placeholder {
    font-size: 25px;
  }

  form input {
    padding: 10px;
  }
}
