/* !---- BURGER MENU SECTION max-width: 600px ---- */

@media (max-width: 600px) {
  header {
    position: relative;
  }

  header nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgb(21, 21, 21);
    width: 100%;
  }

  header nav li {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 23px;
  }
}

/* !---- DISPLAY BLOCK FIX mIN-width: 600px ----- */

@media (min-width: 600px) {
  header nav {
    display: block !important;
  }
}

/* !---- TABLET VIEW min-width: 768px ----------- */

@media (min-width: 768px) {
  section.about__section {
    padding: 1rem 4rem;
  }

  .gallery_wrapper {
    width: 60vw;
  }

  .images__wrapper {
  }

  .section__gallery img {
    border-radius: 10px;
  }

  form input {
    width: 20rem;
  }
}

/* !---- MONITOR VIEW min-width: 1024px ----------- */

@media (min-width: 1024px) {
  section.about__section {
    padding: 2rem 13rem;
  }

  .section__gallery {
  }

  .gallery_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 65vw;
    gap: 0.5rem;
  }

  .images__wrapper {
    flex-basis: 20rem;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .section__gallery img {
    flex-basis: 2rem;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 20px;
  }
}

/* !---- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ----- */
/* TODO !!!!!!!!!!! FINISH WRAPING IMAGES !!!!!!!!!!!!!--- */
/* !---- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ----- */

@media (max-width: 1390px) {
  .section__gallery {
    flex-wrap: nowrap;
  }
}
