/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ?--------------- MENU/HEADER SECTION -------------------- */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(21, 21, 21);
  height: 70px;
}

.logo__wrapper {
  flex-grow: 1;
}

.logo__wrapper img {
  width: 100px;
  margin-left: 20px;
}

nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.menu-icon {
  display: none;
  margin-right: 30px;
}

/* ?--------------- HERO SECTION -------------------- */

.mask {
  background-color: rgba(0, 0, 0, 0.642);
}

.video__section {
  width: 100vw;
  min-height: calc(100vh - 70px);
  object-fit: cover;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.intro_heading_div {
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* ?--------------- ABOUT SECTION -------------------- */

section.about__section {
  text-align: center;
  padding: 1rem;
  background-color: rgb(219, 43, 57);
}

section h2 {
  text-align: center;
  margin: 0rem 0rem 1rem 0rem;
}

section p {
  font-size: 12px;
}

/* ?--------------- GALLERY SECTION -------------------- */

.section__gallery {
  background-color: rgb(219, 43, 57);
}

.gallery_wrapper {
  margin: 0 auto;
  width: 90vw;
}

.images__wrapper {
}

.section__gallery img {
  object-fit: cover;
  border: 1px solid rgb(219, 43, 57);
  border-radius: 5px;
  margin: 0;
}

/* ?--------------- FORM SECTION -------------------- */

.section__form {
  display: flex;
  justify-content: center;
  background-color: rgb(219, 43, 57);
  color: white;
  padding: 3rem;
}

.div__form {
  align-items: center;
}

form input {
  margin: 5px 0px;
  text-align: center;
  padding: 5px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
}

#submitBtn {
  margin: 0 auto;
  justify-content: center;
  margin-top: 1rem;
}

/* ?--------------- FOOTER SECTION -------------------- */

.section__footer {
  text-align: center;
  padding: 1rem 0rem;
  background-color: rgb(241, 211, 2);
}

.footer_heart {
  color: crimson;
}
