/* ?--------------- MENU/HEADER SECTION -------------------- */

body.dark {
  color: rgb(21, 21, 21);
  background-color: #d8dbe0;
}

body.dark header div a {
  color: rgb(21, 21, 21);
  /* background-color: #d8dbe0; */
}
body.dark nav ul {
  color: rgb(21, 21, 21);
  background-color: #d8dbe0;
}
body.dark #li {
  color: rgb(21, 21, 21);
}

body.dark .mask {
  filter: grayscale(70%);
  transition: all 0.5s ease-in-out;
}

body.dark #about__section {
  background-color: #d8dbe0;
  color: rgb(21, 21, 21);
}
body.dark #section__form {
  background-color: #d8dbe0;
  color: rgb(21, 21, 21);
}
body.dark .div__form {
  border: 1px solid rgb(21, 21, 21);
}
body.dark form input {
  background-color: #d8dbe0;
  color: rgb(21, 21, 21);
  border: 1px solid rgb(21, 21, 21);
}
body.dark form input::-webkit-input-placeholder {
  color: rgb(21, 21, 21);
}
body.dark form .input-alert {
  color: rgb(21, 21, 21);
}

.light {
  background-color: #d8dbe0 !important;
  color: rgb(21, 21, 21);
}

.light-neumorphism {
  border-radius: 5px;
  /* padding: 0.5rem; */
  color: rgb(21, 21, 21);
  border: 1px solid rgb(21, 21, 21);
  /* background-color: #d8dbe0; */
}
.light-neumorphism-form {
  color: rgb(21, 21, 21);
  border-radius: 5px;
  background-color: rgb(215, 218, 223);
  border: 1px solid rgb(21, 21, 21);
  outline: none;
}

.light-footer_heart {
  color: rgb(21, 21, 21);
}

.light-placeholder::-webkit-input-placeholder {
  color: rgb(21, 21, 21);
}

.border-dark {
  border: 1px solid black;
}
.border-light {
  border: 1px solid white;
}
