/* ?--------------- MENU/HEADER SECTION -------------------- */

body.dark {
  color: rgb(21, 21, 21);
  background-color: #d8dbe0;
}

body.dark header div a {
  color: rgb(21, 21, 21);
}
body.dark nav ul {
  color: rgb(21, 21, 21);
  background-color: #d8dbe0;
}
body.dark #li {
  color: rgb(21, 21, 21);
}

body.dark .mask {
  filter: grayscale(70%);
  transition: all 0.5s ease-in-out;
}

body.dark #about__section {
  background-color: #d8dbe0;
  color: rgb(21, 21, 21);
}

body.dark #section__gallery {
  background-color: #d8dbe0;
  border-top: 1px solid rgb(21, 21, 21);
  border-bottom: 1px solid rgb(21, 21, 21);
}
body.dark .swiper-pagination .swiper-pagination-bullet {
  background-color: rgb(21, 21, 21);
}

body.dark #section__form {
  background-color: #d8dbe0;
  color: rgb(21, 21, 21);
}
body.dark .div__form {
  border: 1px solid rgb(21, 21, 21);
}
body.dark form input {
  background-color: #d8dbe0;
  color: rgb(21, 21, 21);
  border: 1px solid rgb(21, 21, 21);
}
body.dark form input::-webkit-input-placeholder {
  color: rgb(21, 21, 21);
}
body.dark form .input-alert {
  color: rgb(21, 21, 21);
}

body.dark .section__footer {
  background-color: #d8dbe0;
  border-top: 1px solid black;
  color: rgb(21, 21, 21);
}
body.dark .section__footer a {
  color: rgb(21, 21, 21);
}
body.dark .section__footer i {
  color: rgb(21, 21, 21);
}

body.dark .modal-div {
  background-color: #d8dbe0;
  border: 1px solid rgb(21, 21, 21);
}
body.dark .modal-paragraph {
  color: rgb(21, 21, 21);
}
body.dark i {
  color: rgb(21, 21, 21);
}

.dark_header {
  background-color: #d8dbe0 !important;
  color: rgb(21, 21, 21);
}

.dark_alert {
  color: rgb(21, 21, 21);
}
